
body {
    background-color: black;
}

.nf-navbar{
    position: fixed;
    width:100%;
    height:5em;
    background-color: white;
    top:0;
}

.nf-navbar  img{
    width:7em;
}

.nf-navbar ul{
    margin-top:0px;
}

a {
    color:white;
}

.netflix-container{    
    margin-top:100px;
}

ul{
    list-style: none
}

.movie-genre{
    box-sizing: border-box;
    width:10em;
    height:3em;
}
.movie-genre > h4{
    color: white;
    text-align: left;        
    padding:20px;
}

.movie-category{    
         
    overflow-x:hidden;
    height: 20em;
    width: 100%;
    justify-content: left;
    white-space: nowrap;    
}

.movie-category:hover{
    overflow: auto;   
}

.movie{    
    
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    max-height: 4em;
    cursor: pointer;    
    transition: width 0.2s;
    vertical-align: top;
}

.movie > img{
    object-fit: cover;
    width:100%;
    min-height: 10em;
    margin-top:30px;
}


.movie > img:hover{
    height:13em;
    margin-top: 0px;
}

.movie:hover{
    width:20%;    
    height:12em;    
    margin: 5px;
}

.movie > h4{
    color:white;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;    
}

footer > h4{
    color:white;
    text-align: center;
    display:block;
}

footer > h6{
    color:grey;
}

footer > p{
    display:block;
    color:grey;
    text-align: center;
}

.movies-container-flex{
    display:none;
}

.movie-flex > h4{
    visibility: hidden;
}

@media screen and (max-width: 700px){
    .movie-category{
        white-space: normal;
        height:100%;
    }
    .movie{
        display:flex;
        justify-content: center;
        max-height: none;
        height:100%;
        width:100%;
        
    }
    .movie:hover{
        width:100%;
        height:100%;
        margin:0px;
    }
    .movie > img{
        height:4em;
        width:60%;        
        transition: width 0.2s;
        margin:0px 0px;
        }

    .movie >img:hover{
        width:70%;
        margin:5px 0px;
    }

    .movies-container-flex{
        display:flex;
        flex-direction: column;   
        align-items: center;
    }

    .movie-flex{
        width:60%;
        position:relative;     
        transition: width 0.2s;
    }
    .movie-flex > img{
        object-fit: cover;    
        width:100%;
        /*height:4em;*/
        height:4em;
        
        margin:0px 0px;   
    }

    .movie-flex > h4 {                        
        position:absolute;
        color:white;
        font-size: 1em;
        left: 0;
        right: 0;
        text-shadow: 4px;
    }
    
    /*
    .movie-flex:hover > img {
        height:100%;
    }
 .movie-flex:hover > h4{
        visibility: visible;
    }*/
    .movie-flex:hover {
        width:80%;
        height:6em;
    }

   
}